#header{
    margin-top: 35px;
}

#input-data{
    margin-top: 75px;
}

.myarticle{
    margin-bottom: 30px;
}

.mybg{
    background-color: #d3d3d3;
}

.mypage-space{
    margin-top: 35px;
    margin-bottom: 40px;
}

.details-action{
    margin-top: 20px;
}

.mypage-section{
    margin-bottom: 40px;
}

.notfound{
    margin: 10% 0;
}

.notfound-back{
    margin: 0 46%;
}

.imgbg{
    background-image: url(../image/403.jpg);
    background-size: cover;
}

.mystyle-color{
    background-color:rgba(236, 236, 236, 0.55);
    background-repeat: no-repeat;
}

.put-my-margin{
    margin: 15% 0;
}

.my-textpos{
    padding-right: 10%;
}

/* css for login */
.login-bg{
    background-color: #ABB7B7;
}

.mymargin-login{
    margin: 10% 0;
}

.bgcolor{
    box-shadow: -1px 2px 20px 2px;
    background-color: #fff;
    padding: 5%;
}

.mypadding-login{
    padding: 0 35%;
}

.card-login{
    margin: 5%;
}

.btn-customized{
    border-radius: 0px;
    border-style: none;
    border-color: transparent;
    transition-duration: 0.3s;
    background-color: #AED6F1;
}

.btn-customized:hover{
    border-radius: 3px;
    border-style: solid;
    border-color: #AED6F1;
    background-color: rgba(0,0,0,0);
    color: #000;
}

.btn-customized:focus{
    border-radius: 0px;
    border-style: none;
    border-color: transparent;
    -webkit-box-shadow: none;
    background-color: #AED6F1;
}

.btn-customized:active{
    border-radius: 0px;
    border-style: none;
    border-color: transparent;
    -webkit-box-shadow: none;
    background-color: #AED6F1;
}

.btn-customized.active{
    border-radius: 0px;
    border-style: none;
    border-color: transparent;
    -webkit-box-shadow: none;
    background-color: #AED6F1;
}

.form-costumized{
    border-style: none;
    border-right: 1px solid black;
    background-color:rgba(0,0,0,0);
    border-radius: 0px;
    color: black;
    box-shadow: none;
    outline: 0;
    -webkit-box-shadow: none;
}

.form-costumized:focus{
    border-style: none;
    border-right: 3px solid black;
    background-color:rgba(0,0,0,0);
    border-radius: 0px;
    color: black;
    box-shadow: none;
    outline: 0;
    border-color: #5DADE2;
    -webkit-box-shadow: none;
}

.icon-custumized{
    border-style: none;
    border-radius: 0px;
    background-color:rgba(0,0,0,0);
}

.icon-custumized:focus{
    border-style: none;
    border-radius: 0px;
    background-color:rgba(0,0,0,0);
}

.vertical-line{
    margin: 20px 0;
    border-right: 3px solid #5DADE2;
    left: 0px;

}

.textsize{
    font-size:110%;
}

.margin-register{
    margin-top: 20px;
}

@media (min-width: 1px) and (max-width: 991px) {
    .mymargin-login{
        margin: 30% 0;
    }
    .card-login{
        margin: 0;
    }
    .mypadding-login{
        padding: 20px;
    }
}


/* user page style including admin page */

.my-page{
    margin: 5% 0;
}

.offline-status{
    color: #000;
}

.online-status{
    color: #4ba42e;
}

