<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ session.get('username') }}'s Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/mystyle.css') }}">
</head>
<body>
{% if session.get('logged_in') == True and userCheck == True %}
    {% include 'headersession.html' %}
    {% if userDelete %}
    <div class="alert alert-danger" role="alert">
        <div class="text-center">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span class="sr-only">Error</span>
            User {{ message }} deleted !!
        </div>
    </div>
    {% endif %}
    <div class="my-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            User Status
                        </div>
                        <table class="table table-striped">
                            <tr>
                                <th class="text-center">User Name</th>
                                <th class="text-center">User Email</th>
                                <th class="text-center">User Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                            {% for dataUser in dataUser %}
                            <tr>
                                <td class="text-center">{{ dataUser.username }}</td>
                                <td class="text-center">{{ dataUser.user_email }}</td>
                                <td class="text-center">
                                    {% if dataUser.user_status == '1' %}
                                    <span class="glyphicon glyphicon-user online-status" data-toggle="tooltip" data-placement="bottom" title="User is online"></span>
                                    {% else %}
                                    <span class="glyphicon glyphicon-user offline-status" data-toggle="tooltip" data-placement="bottom" title="User is offline"></span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <span  data-toggle="modal" data-target=".del-user">
                                        <button type="button" class="btn btn-primary btn-sm"data-toggle="tooltip" data-placement="bottom" title="Delete User">
                                            <span class="glyphicon glyphicon-remove-sign"></span>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        <div class="panel-footer">
                            <span><strong>Total user is : {{ userCount }}</strong></span>
                        </div>
                    </div>
                </div>
                {% if checkContent >= 1 %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center">
                                        News Post
                                    </div>
                                    <table class="table table-striped">
                                        <tr>
                                            <th class="text-center">Post ID</th>
                                            <th class="text-center">Post Title</th>
                                            <th class="text-center">Post Creator</th>
                                            <th class="text-center">Added date</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                        {% for dataPost in dataPost %}
                                        <tr>
                                            <td class="text-center">{{ dataPost._id }}</td>
                                            <td class="text-center">{{ dataPost.post_title }}</td>
                                            <td class="text-center">{{ dataPost.posted_by }}</td>
                                            <td class="text-center">{{ dataPost.date_post }}</td>
                                            <td class="text-center">
                                                <a href="/content/{{ dataPost.post_title }}" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit Post"><span class="glyphicon glyphicon-list-alt"></span></a>
                                                <a href="/content/{{ dataPost.post_title }}/read" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="View Post"><span class="glyphicon glyphicon-eye-open"></span></a>
                                                <span data-toggle="modal" data-target=".del-content">
                                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Delete Post">
                                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                                    </button>
                                                </span>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <div class="panel-footer">
                                        <span><strong>Total Post is : {{ checkContent }}</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="text-center">
                        <h2 class="text-danger">No post for this time</h2>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal fade del-user" tabindex="-1" role="dialog" aria-labelledby="small-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title"><h2>Sure to want user ?</h1></span>
                </div>
                <div class="modal-body bg-warning text-center">
                    <span>Unexpected bad thing will happen if you not read this carefully</span>
                </div>
                <div class="modal-footer">
                    <p class="text-justify">You will delete user account, this action may causing lost data and this action is cannot be undo, be carefull when you're typing your's username and user email.<br><br>Type username and user email for confirmation</p>
                    <p></p>
                    <form action="/u/delete" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Input username" name="delete_user" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Input user email" name="user_email" required>
                        </div>
                        <button type="submit" class="btn btn-danger">I understand the risk</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% elif session.get('logged_in') == True %}
    {% include 'headersession.html' %}
    {% if session.get('logged_in') %}
        <div class="my-page">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>My post</h4>
                    </div>
                    {% for mypost in mypost %}
                        {% if user == mypost.posted_by%}
                            <div class="panel-body">
                                <div class="title-post">
                                    <h3 class="text-uppercase">
                                        {{ mypost.post_title }}
                                    </h3>
                                </div>
                                <div class="body-post">
                                    <blockquote>
                                        <p>
                                            {{ mypost.post_desc }}
                                        </p>
                                        <footer>Added in {{ mypost.date_post }}<p class="text-uppercase">post id - {{ mypost._id }}</p></footer>
                                    </blockquote>
                                </div>
                                <div class="footer-post">
                                    <div class="btn-toolbal" role="toolbar" aria-label="action">
                                        <div class="btn-group btn-group-sm">
                                            <a class="btn btn-primary" href="/content/{{ mypost.post_title }}/read">Read Post</a>
                                            <a class="btn btn-primary" href="/content/{{ mypost.post_title }}">Edit</a>
                                        </div>
                                        <button data-toggle="modal" data-target=".del-content" type="button" class="btn btn-primary btn-sm">Delete</button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% include 'footer.html' %}
{% endif %}
    <div class="modal fade del-content" tabindex="-1" role="dialog" aria-labelledby="small-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title"><h2>Sure to want delete post ?</h1></span>
                </div>
                <div class="modal-body bg-warning text-center">
                    <span>Unexpected bad thing will happen if you not read this carefully</span>
                </div>
                <div class="modal-footer">
                    <p class="text-justify">You will delete post content, this action may causing lost data and this action is cannot be undo, be carefull when you're typing your's post title.<br><br>Type post id and post tittle if you sure</p>
                    <p></p>
                    <form action="/delete/" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Input post ID" name="post_id" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Input post title" name="delete_title" required>
                        </div>
                        <button type="submit" class="btn btn-danger">I understand the risk</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
    <script>
        $(function () {$('[data-toggle="tooltip"]').tooltip()})
    </script>
</body>
</html>