<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post "{{ data.post_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/mystyle.css') }}">
</head>
<body>
    {% if session.get('logged_in') %}
        {% include 'headersession.html' %}
    {% else %}
        {% include 'header.html' %}
    {% endif %}
    <section id="input-data">
        <div class="container">
            <form action="/content/{{ data.post_title }}/edit" method="post" class="form-horizontal">
                <div class="form-group">
                    <label for="posts_title" class="col-sm-2 control-label">Post title</label>
                    <div class="col-sm-4">
                        <input type="text" name="posts_title" id="posts_title" class="form-control" value="{{ data.post_title }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="posts_descript" class="col-sm-2 control-label">Post's description</label>
                    <div class="col-sm-4">
                        <input type="text" name="posts_descript" id="posts_descript" class="form-control" value="{{ data.post_desc }}" minlength=30 maxlength=150 required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="posts_content" class="col-sm-2 control-label">Post's content</label>
                    <div class="col-sm-5">
                        <textarea name="posts_content" class="form-control" id="posts_content" rows="8" minlength=30 required>{{ data.post_content }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-push-2">
                        <div class="btn-toolbar" role="toolbar" aria-label="action">
                            <div class="btn-group btn-group-sm" role="group" aria-label="action">
                                <button type="submit" class="btn btn-primary">Edit post  <span class="glyphicon glyphicon-ok"></span></button>
                                <a class="btn btn-danger" href="/"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    {% include 'footer.html' %}
</body>
<script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
</html>