<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Restricted</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/mystyle.css') }}">
</head>
<body class="imgbg">
    <div class="put-my-margin">
        <div class="container-fluid">
            <div class="row">
                <div class="mystyle-color">
                    <div class="container">
                        <h1 class="text-uppercase">access is unauthorized</h1>
                        <h1 class="text-uppercase">error code 403</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>