<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File not found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/mystyle.css') }}">
</head>
<body>
    {% if session.get('logged_in') %}
        {% include 'headersession.html' %}
    {% else %}
        {% include 'header.html' %}
    {% endif %}
    <div class="notfound">
        <div class="container">
            <h1 class="text-center text-uppercase">No post about "{{ dataSearch }}"</h1>
            <h1 class="text-center text-danger">:(</h1>
            <div class="notfound-back">
                <a href="/" class="btn btn-default"><span class="glyphicon glyphicon-menu-left"></span> Go Back</a>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
<script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
</html>