    <footer id="footer" class="hidden-xs hidden-sm">
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <span class="navbar-nav navbar-text text-uppercase">Nothing best than you work on what you like</span>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">About</a></li>
                    <li><a href="/">Report</a></li>
                    <li><a href="/">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>