    <header id="header">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">                        <span class="sr-only">Toogle</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">
                        My project
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-right" method="post" action="/content/search">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Search article" name="search_content">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </form>
                    <p class="navbar-text navbar-right">Hello Guest</a></p>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <a href="/write_posts">Add new post</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>