<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/mystyle.css') }}">
</head>
<body>
    {% if session.get('logged_in') %}
        {% include 'headersession.html' %}
    {% else %}
        {% include 'header.html' %}
    {% endif %}
    <article class="container myarticle">
        {% if contentCheck >= 1%}
            {% for data in data%}
                <div class="mypage-space">
                    <div id="content">
                        <div id="title">
                            <h2 class="text-uppercase">{{ data.post_title }}</h2>
                        </div>
                    </div>
                    <div id="desc">
                        <p>
                            <blockquote>
                                <p>
                                    {{ data.post_desc }}...
                                </p>
                                <footer>
                                    Added in {{ data.date_post }} by {{ data.posted_by }}
                                </footer>
                            </blockquote>
                        </p>
                    </div>
                    <div id="Footer">
                        <div class="btn-toolbar" role="toolbar" aria-label="Action">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Action">
                                <a class="btn btn-primary" href="/content/{{ data.post_title }}/read">Read more</a>
                            {% if session.get('logged_in') %}
                                {% if session.get('username') and userAuth == True %}
                                        <a class="btn btn-default" href="/u/{{ session.get('username') }}">Manage Post</a>
                                    </div>
                                {% elif session.get('username') == data.posted_by and userAuth == False %}
                                        <a class="btn btn-default" href="/u/{{ session.get('username') }}">Manage Post</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="mypage-space">
                <div class="text-danger text-center">
                    <span><h1>No post in here :( <p>Want <a href="/write_posts">add</a> some new post ?</p></h1></span>
                </div>
            </div>
        {% endif %}
    </article>
{% include 'footer.html' %}
</body>
<script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
<!--<script>$('a.btn').click(function () {$('.target').modal({show: true,closeOnEscape: true});});</script>-->
</html>