<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/mystyle.css') }}">
</head>
<body class="login-bg">
    <div class="overlay-bg">
        <div class="mymargin-login">
            <div class="container center-block">
                <div class="mypadding-login">
                    <div class="bgcolor">
                        {% if error1 %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="text-center">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    <span class="sr-only">Error</span>
                                    {{ error1 }}
                                </div>
                            </div>
                        {% endif %}
                        {% if error2 %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="text-center">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    <span class="sr-only">Error</span>
                                    {{ error2 }}
                                </div>
                            </div>
                        {% endif %}
                        {% if error3 %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="text-center">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    <span class="sr-only">Error</span>
                                    {{ error3 }}
                                </div>
                            </div>
                        {% endif %}
                        {% if success %}
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="text-center">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    <span class="sr-only">Error</span>
                                    {{ success }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="card-login">
                            <span><h1 class="vertical-line">Sign In</h1></span>
                            <div class="login-form">
                                <form action="{{ url_for('login') }}" method="post">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon icon-custumized"><span class="glyphicon glyphicon-user"></span></div>
                                            <input type="text" name="user_name" class="form-control form-costumized" placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon icon-custumized"><span class="glyphicon glyphicon-lock"></span></div>
                                            <input type="password" name="user_passwd" class="form-control form-costumized" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="btn-toolbar" role="toolbar" aria-label="action">
                                        <div class="btn-group" role="group" aria-label="action">
                                            <a class="btn btn-default btn-customized" href="/"><span class="glyphicon glyphicon-remove"></span> <span class="textsize">Back</span></a>
                                            <button type="submit" class="btn btn-default btn-customized"><span class="textsize">Login</span> <span class="glyphicon glyphicon-ok"></span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="margin-register">
                        <div class="bgcolor">
                            <span>You not have any account ? <a href="/regist" class="text-center">Register now</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
</body>
</html>