<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% for data in data %}
            Read article {{ data.post_title }}
        {% endfor %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/mystyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
</head>
<body>
    {% if session.get('logged_in') %}
        {% include 'headersession.html' %}
    {% else %}
        {% include 'header.html' %}
    {% endif %}
    <section id="article-content" class="mypage-section">
        <div class="container">
            <div class="mypage-space">
                <div class="article-title">
                    <span class="text-uppercase"><h2>{{ data.post_title }}</h2></span>
                </div>
                <div class="article-description">
                    <blockquote>
                        <span>{{ data.post_desc }}</span>
                    </blockquote>
                </div>
                <div class="article-content">
                    <div class="text-justify">
                        {{ data.post_content }}
                    </div>
                    <p class="text-disable">{{ data.posted_by }}</p>
                </div>
                <div class="details-action">
                    <a class="btn btn-default" href="/"><span class="glyphicon glyphicon-menu-left"></span> Back to main page</a>
                </div>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
</body>
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
</html>