<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search article</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/mystyle.css') }}">
</head>
<body>
    {% if session.get('logged_in') %}
        {% include 'headersession.html' %}
    {% else %}
        {% include 'header.html' %}
    {% endif %}
    {% for result in result %}
        <article>
            <div class="container">
                <h2 class="text-uppercase">{{ result.post_title }}</h2>
                <div id="search-desc">
                    <p>
                        <blockquote>
                        <p>
                        {{ result.post_desc }}
                        </p>
                        <footer>
                            Added in {{ result.date_post }} @ {{ result.time_posts }} by {{ result.posted_by }}
                        </footer>
                        </blockquote>
                    </p>
                </div>
                <div id="Footer">
                    <div class="btn-toolbar" role="toolbar" aria-label="Action">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Action">
                            <a class="btn btn-primary" href="/content/{{ result.post_title }}/read">Read more</a>
                            {% if session.get('logged_in') %}
                                {% if session.get('username') and checkUserLevel == True %}
                                    <a class="btn btn-default" href="/u/{{ session.get('username') }}">Manage Post</a>
                                </div>
                                {% elif session.get('username') == result.posted_by and checkUserLevel == False %}
                                    <a class="btn btn-default" href="/u/{{ session.get('username') }}">Manage Post</a>
                                </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
        </article>
    {% endfor %}
    {% include 'footer.html' %}
</body>
<script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
</html>